<section id="catalog" class="catalog">
    <div class="container-catalog">
        <h2 class="catalog-title">Catalog</h2>
        <ul class="catalog-list">
            <li class="catalog-gallery">
                    <picture>
                        <source srcset="
                                            ./img/Catalog/desk/WatchCatalog1-1x.png 1x,
                                            ./img/Catalog/desk/WatchCatalog1-2x.png 2x
                                            " media="(min-width: 1280px)" />
                        <source srcset="
                                            ./img/Catalog/tab/tab-WatchCatalog1-1x.png 1x,
                                            ./img/Catalog/tab/tab-WatchCatalog1-2x.png 2x
                                            " media="(min-width: 768px)" />
                        <source srcset="
                                            ./img/Catalog/mob/mob-WatchCatalog1-1x.png 1x,
                                            ./img/Catalog/mob/mob-WatchCatalog1-2x.png 2x
                                            " media="(max-width: 767px)" />
                        <img class="catalog-img" src="./img/Catalog/mob/mob-WatchCatalog1-1x.png" alt="watch" />
                    </picture>
                <h3 class="clock-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
                <p class="clock-text">€500</p>
            </li>
            <li class="catalog-gallery">
                <picture>
                    <source srcset="
                        ./img/Catalog/desk/WatchCatalog2-1x.png 1x,
                        ./img/Catalog/desk/WatchCatalog2-2x.png 2x
                        " media="(min-width: 1280px)" />
                    <source srcset="
                        ./img/Catalog/tab/tab-WatchCatalog2-1x.png 1x,
                        ./img/Catalog/tab/tab-WatchCatalog2-2x.png 2x
                        " media="(min-width: 768px)" />
                    <source srcset="
                        ./img/Catalog/mob/mob-WatchCatalog2-1x.png 1x,
                        ./img/Catalog/mob/mob-WatchCatalog2-2x.png 2x
                        " media="(max-width: 767px)" />
                    <img class="catalog-img" src="./img/Catalog/mob/mob-WatchCatalog2-1x.png" alt="watch" />
                </picture>
                <h3 class="clock-title">Garmin Marq Athlete</h3>
                <p class="clock-text">€450</p>
            </li>
            <li class="catalog-gallery">
                <picture>
                    <source srcset="
                        ./img/Catalog/desk/WatchCatalog3-1x.png 1x,
                        ./img/Catalog/desk/WatchCatalog3-2x.png 2x
                        " media="(min-width: 1280px)" />
                    <source srcset="
                        ./img/Catalog/tab/tab-WatchCatalog3-1x.png 1x,
                        ./img/Catalog/tab/tab-WatchCatalog3-2x.png 2x
                        " media="(min-width: 768px)" />
                    <source srcset="
                        ./img/Catalog/mob/mob-WatchCatalog3-1x.png 1x,
                        ./img/Catalog/mob/mob-WatchCatalog3-2x.png 2x
                        " media="(max-width: 767px)" />
                    <img class="catalog-img" src="./img/Catalog/mob/mob-WatchCatalog3-1x.png" alt="watch" />
                </picture>
                <h3 class="clock-title">Garmin Descent MK1</h3>
                <p class="clock-text">€680</p>
            </li>
            <li class="catalog-gallery">
                <picture>
                    <source srcset="
                        ./img/Catalog/desk/WatchCatalog4-1x.png 1x,
                        ./img/Catalog/desk/WatchCatalog4-2x.png 2x
                        " media="(min-width: 1280px)" />
                    <source srcset="
                        ./img/Catalog/tab/tab-WatchCatalog4-1x.png 1x,
                        ./img/Catalog/tab/tab-WatchCatalog4-2x.png 2x
                        " media="(min-width: 768px)" />
                    <source srcset="
                        ./img/Catalog/mob/mob-WatchCatalog4-1x.png 1x,
                        ./img/Catalog/mob/mob-WatchCatalog4-2x.png 2x
                        " media="(max-width: 767px)" />
                    <img class="catalog-img" src="./img/Catalog/mob/mob-WatchCatalog4-1x.png" alt="watch" />
                </picture>
                <h3 class="clock-title">Garmin D2 Delta PX</h3>
                <p class="clock-text">€380</p>
            </li>
            <li class="catalog-gallery mob-image">
                <picture class="catalog-pictures">
                    <source srcset="
                        ./img/Catalog/desk/WatchCatalog5-1x.png 1x,
                        ./img/Catalog/desk/WatchCatalog5-2x.png 2x
                        " media="(min-width: 1280px)" />
                    <source srcset="
                        ./img/Catalog/tab/tab-WatchCatalog5-1x.png 1x,
                        ./img/Catalog/tab/tab-WatchCatalog5-2x.png 2x
                        " media="(min-width: 768px)" />
                    <source srcset="
                        ./img/Catalog/mob/mob-WatchCatalog5-1x.png 1x,
                        ./img/Catalog/mob/mob-WatchCatalog5-2x.png 2x
                        " media="(max-width: 767px)" />
                    <img class="catalog-img" src="./img/Catalog/mob/mob-WatchCatalog5-1x.png" alt="watch" />
                </picture>
                <h3 class="clock-title">Garmin Fenix 6 Pro Solar</h3>
                <p class="clock-text">€400</p>
            </li>
            <li class="catalog-gallery mob-image">
                <picture>
                    <source srcset="
                        ./img/Catalog/desk/WatchCatalog6-1x.png 1x,
                        ./img/Catalog/desk/WatchCatalog6-2x.png 2x
                        " media="(min-width: 1280px)" />
                    <source srcset="
                        ./img/Catalog/tab/tab-WatchCatalog6-1x.png 1x,
                        ./img/Catalog/tab/tab-WatchCatalog6-2x.png 2x
                        " media="(min-width: 768px)" />
                    <source srcset="
                        ./img/Catalog/mob/mob-WatchCatalog6-1x.png 1x,
                        ./img/Catalog/mob/mob-WatchCatalog6-2x.png 2x
                        " media="(max-width: 767px)" />
                    <img class="catalog-img" src="./img/Catalog/mob/mob-WatchCatalog6-1x.png" alt="watch" />
                </picture>
                <h3 class="clock-title">Tube Watch S42 Date Steel With Black Case</h3>
                <p class="clock-text">€395</p>
            </li>
        </ul>
        <button type="button" class="clock-btn">Show more</button>
    </div>
</section>