<section class="catalog">
    <div class="container-catalog">
        <h2 class="catalog-title">Catalog</h2>
        <ul class="catalog-list">
            <li class="catalog-gallery">
                    <picture>
                        <source srcset="">
                        <img src="/src/img/Catalog/" alt="">
                    </picture>
                    <h3 class="clock-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
                    <p class="clock-text">€500</p>
            </li>
            <li class="catalog-gallery">
                <picture>
                    <source srcset="">
                    <img src="/src/img/Catalog/" alt="">
                </picture>
                <h3 class="clock-title">Garmin Marq Athlete</h3>
                <p class="clock-text">€450</p>
            </li>
            <li class="catalog-gallery">
                <picture>
                    <source srcset="">
                    <img src="/src/img/Catalog/" alt="">
                </picture>
                <h3 class="clock-title">Garmin Descent MK1</h3>
                <p class="clock-text">€680</p>
            </li>
            <li class="catalog-gallery">
                <picture>
                    <source srcset="">
                    <img src="/src/img/Catalog/" alt="">
                </picture>
                <h3 class="clock-title">Garmin D2 Delta PX</h3>
                <p class="clock-text">€380</p>
            </li>
            <li class="catalog-gallery">
                <picture>
                    <source srcset="">
                    <img src="/src/img/Catalog/" alt="">
                </picture>
                <h3 class="clock-title">Garmin Fenix 6 Pro Solar</h3>
                <p class="clock-text">€400</p>
            </li>
            <li class="catalog-gallery">
                <picture>
                    <source srcset="">
                    <img src="/src/img/Catalog/" alt="">
                </picture>
                <h3 class="clock-title">Tube Watch S42 Date Steel With Black Case</h3>
                <p class="clock-text">€395</p>
            </li>
        </ul>
    </div>
</section>