
<section id="contactus" class="contactus">
    <div class="contactus-container">
        <h2 class="contactus-title">Contact Us</h2>
        <div class="contactus-form-image">
            <div class="contactus-form-text-btn">
                <form class="contactus-form">
                    <p class="contactus-text">
                        Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to you
                        shortly.
                    </p>
                    <div class="contactus-input-fields">
                        <label for="user-name" class="contactus-label visually-hidden"></label>
                        <input 
                            id="user-name" 
                            type="text" 
                            name="name" 
                            class="contactus-input" 
                            required placeholder="Name" />
                
                        <label for="user-email" class="contactus-label visually-hidden"></label>
                        <input 
                            id="user-email" 
                            type="email" 
                            name="email" 
                            class="contactus-input" 
                            required placeholder="Email" />
                
                        <label for="user-tel" class="contactus-label visually-hidden"></label>
                        <input 
                            id="user-tel" 
                            type="tel" 
                            name="tel" 
                            class="contactus-input" 
                            required placeholder="+380" />
                
                        <label for="user-comment" class="contactus-label visually-hidden"></label>
                        <textarea 
                            id="user-comment"  
                            name="user-comment" 
                            placeholder="Comment" 
                            required
                            class="contactus-textarea"></textarea>
                
                    </div>
                    <button type="submit" class="contactus-btn">Send</button>
                </form>
            </div>
            <div class="contactus-big-image">
                <picture>
                    <source srcset="
                            ./img/ContactUs/WatchContactUs-1x.jpg,
                            ./img/ContactUs/WatchContactUs-2x.jpg
                          " media="(min-width: 1280px)" />
                    <source srcset="
                            ./img/ContactUs/tab-WatchContactUs-1x.jpg,
                            ./img/ContactUs/tab-WatchContactUs-2x.jpg
                          " media="(min-width: 768px)" />
                    <source srcset="
                            ./img/ContactUs/mob-WatchContactUs-1x.jpg,
                            ./img/ContactUs/mob-WatchContactUs-2x.jpg
                          " media="(max-width: 767px)" />
                    <img class="contactus-img" src="./img/ContactUs/mob-WatchContacts-1x.jpg" alt="Bank-app" />
                </picture>
            </div>
        </div>
    </div>
</section>