<!-- <section class="hero">
    <div class="container hero-container">
        <div class="section-txt">
            <div class="hero-txt">
                <h1 class="title">Welcome to our <span class="span-title">collection</span> of premium watches</h1>
                <p class="hero-p">Our watches are not just timepieces, but also an expression of your personality and
                    lifestyle. From
                    classic designs to
                    modern ones, we have a watch to suit every taste and occasion.</p>
            </div>
            <div class="section-icons">
                <div class="icons">
                    <div class="icon icon-1">
                        <img src="./img/Reviews-img/desk/Reviews2-1x.jpg"
                            srcset="./img/Reviews-img/desk/Reviews2-1x.jpg 1x, ./img/Reviews-img/desk/Reviews2-2x.jpg 2x"
                            alt="Icon-1" width="44px" height="44px">
                    </div>
                    <div class="icon icon-2">
                        <img src="./img/Reviews-img/desk/Reviews1-1x.jpg"
                            srcset="./img/Reviews-img/desk/Reviews1-1x.jpg 1x, ./img/Reviews-img/desk/Reviews1-2x.jpg 2x"
                            alt="Icon-1" width="44px" height="44px">
                    </div>
                    <div class="icon icon-3">
                        <img srcset="./img/Reviews-img/desk/Reviews3-1x.jpg 1x, ./img/Reviews-img/desk/Reviews3-2x.jpg 2x"
                            src="./img/Reviews-img/desk/Reviews3-1x.jpg" alt="Icon-3" width="44px" height="44px">
                    </div>
                </div>
                <a class="hero-link" href="">Scroll down</a>
            </div>
        </div>
        <div class="div-watch"></div>
    </div>
</section> -->