<section id="sale" class="sale">
	<div class="sale-container">
		<h2 class="sale-title">Sale</h2>
		<div class="sale-main-wrapper">
			<div class="sale-img-wrapper">
				<ul class="sale-list">
					<li class="sale-item" data-smallimage="1">
						<picture>
							<source media="(min-width: 768px)"
								srcset="/img/Sale/tab/tab-WatchSale1-1x.png 1x, /img/Sale/tab/tab-WatchSale1-2x.png 2x">
							<source media="(max-width: 767px)"
								srcset="/img/Sale/mob/mob-WatchSale1-1x.png 1x, /img/Sale/mob/mob-WatchSale1-2x.png 2x">
							<img class="sale-image" src="/img/Sale/mob/mob-WatchSale1-1x.png"
								alt="Watch: The Garmin MARQ Commander Gen 2 Carbon Edition" width="52" height="54">
						</picture>
					</li>
					<li class="sale-item" data-smallimage="2">
						<picture>
							<source media="(min-width: 768px)"
								srcset="/img/Sale/tab/tab-WatchSale2-1x.png 1x, /img/Sale/tab/tab-WatchSale2-2x.png 2x">
							<source media="(max-width: 767px)"
								srcset="/img/Sale/mob/mob-WatchSale2-1x.png 1x, /img/Sale/mob/mob-WatchSale2-2x.png 2x">
							<img class="sale-image" src="/img/Sale/mob/mob-WatchSale2-1x.png"
								alt="Watch: The Garmin MARQ Commander Gen 2 Carbon Edition" width="52" height="54">
						</picture>
					</li>
					<li class="sale-item" data-smallimage="3">
						<picture>
							<source media="(min-width: 768px)"
								srcset="/img/Sale/tab/tab-WatchSale3-1x.png 1x, /img/Sale/tab/tab-WatchSale3-2x.png 2x">
							<source media="(max-width: 767px)"
								srcset="/img/Sale/mob/mob-WatchSale3-1x.png 1x, /img/Sale/mob/mob-WatchSale3-2x.png 2x">
							<img class="sale-image" src="/img/Sale/mob/mob-WatchSale3-1x.png"
								alt="Watch: The Garmin MARQ Commander Gen 2 Carbon Edition" width="52" height="54">
						</picture>
					</li>
					<li class="sale-item" data-smallimage="4">
						<picture>
							<source media="(min-width: 768px)"
								srcset="/img/Sale/tab/tab-WatchSale4-1x.png 1x, /img/Sale/tab/tab-WatchSale4-2x.png 2x">
							<source media="(max-width: 767px)"
								srcset="/img/Sale/mob/mob-WatchSale4-1x.png 1x, /img/Sale/mob/mob-WatchSale4-2x.png 2x">
							<img class="sale-image" src="/img/Sale/mob/mob-WatchSale4-1x.png"
								alt="Watch: The Garmin MARQ Commander Gen 2 Carbon Edition" width="52" height="54">
						</picture>
					</li>
				</ul>
				<div class="sale-main-block">
					<picture class="sale-main-picture" data-bigimage="original">
						<source media="(min-width: 768px)"
							srcset="/img/Sale/tab/tab-WatchSale-1x.png 1x, /img/Sale/tab/tab-WatchSale-2x.png 2x">
						<source media="(max-width: 767px)"
							srcset="/img/Sale/mob/mob-WatchSale-1x.png 1x, /img/Sale/mob/mob-WatchSale-2x.png 2x">
						<img class="sale-main-image" src="/img/Sale/mob/mob-WatchSale-1x.png"
							alt="Watch: The Garmin MARQ Commander Gen 2 Carbon Edition" width="235" height="285">
					</picture>
					<picture class="sale-main-picture _hidden" data-bigimage="1">
						<source media="(min-width: 768px)"
							srcset="/img/Sale/tab/tab-WatchSaleBig1-1x.png 1x, /img/Sale/tab/tab-WatchSaleBig1-2x.png 2x">
						<source media="(max-width: 767px)"
							srcset="/img/Sale/mob/mob-WatchSaleBig1-1x.png 1x, /img/Sale/mob/mob-WatchSaleBig1-2x.png 2x">
						<img class="sale-main-image" src="/img/Sale/mob/mob-WatchSaleBig1-1x.png"
							alt="Watch: The Garmin MARQ Commander Gen 2 Carbon Edition" width="273" height="285">
					</picture>
					<picture class="sale-main-picture _hidden" data-bigimage="2">
						<source media="(min-width: 768px)"
							srcset="/img/Sale/tab/tab-WatchSaleBig2-1x.png 1x, /img/Sale/tab/tab-WatchSaleBig2-2x.png 2x">
						<source media="(max-width: 767px)"
							srcset="/img/Sale/mob/mob-WatchSaleBig2-1x.png 1x, /img/Sale/mob/mob-WatchSaleBig2-2x.png 2x">
						<img class="sale-main-image" src="/img/Sale/mob/mob-WatchSaleBig2-1x.png"
							alt="Watch: The Garmin MARQ Commander Gen 2 Carbon Edition" width="273" height="285">
					</picture>
					<picture class="sale-main-picture _hidden" data-bigimage="3">
						<source media="(min-width: 768px)"
							srcset="/img/Sale/tab/tab-WatchSaleBig3-1x.png 1x, /img/Sale/tab/tab-WatchSaleBig3-2x.png 2x">
						<source media="(max-width: 767px)"
							srcset="/img/Sale/mob/mob-WatchSaleBig3-1x.png 1x, /img/Sale/mob/mob-WatchSaleBig3-2x.png 2x">
						<img class="sale-main-image" src="/img/Sale/mob/mob-WatchSaleBig3-1x.png"
							alt="Watch: The Garmin MARQ Commander Gen 2 Carbon Edition" width="273" height="285">
					</picture>
					<picture class="sale-main-picture _hidden" data-bigimage="4">
						<source media="(min-width: 768px)"
							srcset="/img/Sale/tab/tab-WatchSaleBig4-1x.png 1x, /img/Sale/tab/tab-WatchSaleBig4-2x.png 2x">
						<source media="(max-width: 767px)"
							srcset="/img/Sale/mob/mob-WatchSaleBig4-1x.png 1x, /img/Sale/mob/mob-WatchSaleBig4-2x.png 2x">
						<img class="sale-main-image" src="/img/Sale/mob/mob-WatchSaleBig4-1x.png"
							alt="Watch: The Garmin MARQ Commander Gen 2 Carbon Edition" width="273" height="285">
					</picture>
				</div>
			</div>
			<div class="sale-description">
				<h3 class="sale-description-title">MARQ® Commander (Gen 2) - Carbon Edition</h3>
				<p class="sale-description-product-id">Product tag: 706587</p>
				<ul class="sale-description-prices">
					<li class="sale-description-price sale-description-price-current">€1500</li>
					<li class="sale-description-price sale-description-price-initial">€3000</li>
				</ul>
				<p class="sale-description-text">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
					for
					adventurers that takes materials and features to the next level. The body of the watch is made of
					very durable
					Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is
					complemented
					by
					buttons that can be used in any conditions. </p>
				<ul class="sale-description-tags">
					<li class="sale-description-tag">Fused carbon fiber</li>
					<li class="sale-description-tag">Grade-5 Titanuim</li>
					<li class="sale-description-tag">Athlete</li>
					<li class="sale-description-tag">Golfer</li>
					<li class="sale-description-tag">Commander</li>
					<li class="sale-description-tag">Adventurer</li>
				</ul>
			</div>
		</div>
	</div>
</section>