
.advertisment {
  background-color: #fbfbfb;
}

.advertisment-container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.advertisment-block {
  background-color: #0c0c0c;
  background-image: url(../img/Advertisment/advert-1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  padding: 60px 28px;
}

.advertisment-text {
  color: #fbfbfb;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 28px;
  height: 167px;
}

.advertisment-story {
  color: rgba(251, 251, 251, 0.5);
}

.advertisment-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  height: 48px;
  color: #fbfbfb;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 16px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  transition-property: background-color color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.advertisment-button:hover,
.advertisment-button:focus {
  background-color: #fbfbfb;
  color: #0c0c0c;
}
@media screen and (min-resolution: 192dpi) {
  .advertisment-block {
    background-image: url(../img/Advertisment/advert-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .advertisment-container {
    max-width: 768px;
    padding: 0 32px;
  }

  .advertisment-block {
    padding: 80px 64px;
  }

  .advertisment-text {
    font-size: 48px;
    line-height: 0.91667;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
    height: 185px;
  }
}

@media screen and (min-width: 1280px) {
  .advertisment-container {
    max-width: 1280px;
    padding: 0 65px;
  }

  .advertisment-block {
    display: flex;
    justify-content: space-between;
    padding: 83px 80px;
  }

  .advertisment-text {
    max-width: 690px;
    margin-right: 140px;
    margin-bottom: 0;
    height: 132px;
  }
}
