.contactus {
    background-color: #fbfbfb;
    margin-top: 0;
    margin-bottom: 60px;
    margin: auto;
    max-width: 375px;
}

@media screen and (min-width: 768px){
    .contactus {
        margin-bottom: 80px;
        max-width: 704px;
        
    }
}

@media screen and (min-width: 1280px) {
    .contactus {
        margin-bottom: 100px;
        max-width: 1280px;
        
    }
}

.contactus-container {
    padding: 0px 20px 0px 20px; 
    margin: auto;
}

@media screen and (min-width: 768px) {
    .contactus-container {
        padding: 0px 32px;
        margin: auto;
    }
}

@media screen and (min-width: 1280px) {
    .contactus-container {
        padding: 0px 65px;
        margin: auto;
    }
}

.contactus-title {
    font-family: "Gilroy", sans-serif;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

@media screen and (min-width: 768px) {
    .contactus-title {
        margin-bottom: 40px;
        font-size: 48px;
        line-height: 92%;
    }
}

@media screen and (min-width: 1280px) {
    .contactus-form-image {
        display: flex;
        flex-direction: row;
        gap:40px;
    }
}

.contactus-form-text-btn{
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .contactus-form-text-btn {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .contactus-form-text-btn {
        margin-bottom: 0;
    }
}
.contactus-form {
    border-radius: 30px;
    background-color: #f3f3f3;
    padding: 48px 28px;
    display: flex;
    flex-wrap:wrap;
    max-width: 375px;
}

@media screen and (min-width: 768px) {
    .contactus-form {
    padding: 50px 122px;
    max-width: 704px;
    }
}

@media screen and (min-width: 1280px) {
    .contactus-form {
        padding: 50px 60px;
        max-width: 460px;
        height: 456px;
    }
}

.contactus-text {
    font-family: "Gilroy", sans-serif;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
    .contactus-text {
        font-size: 16px;
        line-height: 125%;
        margin-bottom: 32px;
    }
}

.contactus-input-fields{
    display:flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-bottom: 28px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.contactus-input {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    width: 100%;
    height: 42px;
    padding-left: 14px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .contactus-input {
        height: 52px;
    }
}

.contactus-input:active,
.contactus-input:focus,
.contactus-input:hover {
    border-color: #3350e9;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

::placeholder {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: #0c0c0c;
}

.contactus-textarea {
    height:84px;
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    width: 100%;
    padding-left: 14px;
    padding-top: 12px;
    background-color: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contactus-textarea:active,
.contactus-textarea:focus,
.contactus-textarea:hover {
    border-color: #3350e9;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contactus-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color:#fbfbfb;
    border-radius: 16px;
    padding: 12px 50px;
    width: 134px;
    height: 42px;
    background-color: #3350e9;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contactus-btn:active,
.contactus-btn:focus,
.contactus-btn:hover {
   background-color: #1f3cd4;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

