body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    border-bottom: 1px solid #e7e9fc;
max-width: 375px;
padding: 0;
padding-top: 20px;
    padding-bottom: 20px;
    
    background-color: #fbfbfb;
    z-index: 1000;
/* margin-bottom: 80px; */


}
.header-cont {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    min-width: 335px;
    max-width: 375px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(100% - 124px);
    
}

.menu-btn {
    background-color: #fbfbfb;
    border: none;
   width: 34px;
   height: 34px;
    outline: none;
}

.menu-btn-icon {
    width: 34px;
    height: 34px;
    stroke: black;
}
.header-logo {
font-family: Gilroy, sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 19.41px;
letter-spacing: -0.02em;
text-align: left;
color: #0C0C0C;
}
.nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    display: none;
}
.nav-link {
    font-family: Gilroy, sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 18px;
text-align: center;
color: #0C0C0C;
position: relative;
}

.nav-link.nav-active::after {
    position: relative;
    width: 8px;
    height: 8px;
    left: 50%;
    display: block;
    content: '';
    background-color: #3350E9;
    border-radius: 50%;
    margin-top: 2px;
    transform: translateX(-50%);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-list-header {
display: flex;
flex-direction: row;
gap: 10px;
display: none;
}
.sm-icon-header {
    fill: #0c0c0c;
    opacity: 80%;
}
.sm-link-header {
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sm-link-header:hover .sm-icon-header {
    fill: #3350e9;
}
.sm-link-header:focus .sm-icon-header {
    fill: #3350e9;
}
.menu {
    width: 200px;
    height: 100%;
    position: fixed;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
    right: 0;   
    z-index: 1000;
    padding-bottom: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-image: url(/img/Modal/mob-modal-1x.jpg);

    background-image: url('/img/modal/mob-modal-1x.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: none;
}


@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .menu {

        background-image: url(/img/Modal/mob-modal-2x.jpg);

        background-image: url('/img/modal/mob-modal-2x.jpg');

    }
}
.menu-close-btn {
    width: 34px;
    height: 34px;
    position: absolute;
    right:20px;
    top: 20px;
    background-color: transparent;
    border: none;
}
.menu-close-btn-icon {
    stroke: #FBFBFB;
}
.menu-nav-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: absolute;
    bottom: 40%;
        left: 35%;
        
}
.menu-nav-link {
    font-family: "Gilroy", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 129%;
text-align: center;
color: #fbfbfb;
position: relative;
}


.menu-nav-link.nav-active::after {
    position: relative;
    width: 8px;
    height: 8px;
    left: 50%;
    display: block;
    content: '';
    background-color: #3350E9;
    border-radius: 50%;
    margin-top: 2px;
    transform: translateX(-50%);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-sm-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    position: absolute;
    bottom: 80px;
    left: 20%;

}
.menu-sm-link {
    border: 1px solid rgba(251, 251, 251, 0.1);
border-radius: 10px;
padding: 8px;
width: 34px;
height: 34px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.menu-sm-icon {
    fill: #fbfbfb;
    opacity: 80%;
}
.menu-sm-link:hover .menu-sm-icon {
    opacity: 1;
}
.menu-sm-link:focus .menu-sm-icon {
    opacity: 1;
}
@media screen and (min-width: 768px) {
    .header {
        padding-top: 26px;
        padding-bottom: 26px;
max-width: 768px;
    }
    .header-cont {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 0;
        padding-bottom: 0;
        min-width: 768px;
        max-width: 768px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: calc(100% - 216px);
        
    }
    .menu-btn {
        width: 40px;
        height: 40px;
        
    }
    .header-logo {
    font-size: 20px;
    line-height: 24.26px;
  }
  .menu-btn-icon {
    width: 40px;
    height: 40px;
  }
  .menu {
    width: 330px;

    background-image: url(/img/Modal/tab-modal-1x.jpg);

    background-image: url('/img/modal/tab-modal-1x.jpg');

    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .menu {

        background-image: url(/img/Modal/tab-modal-2x.jpg);
        background-image: url('/img/modal/tab-modal-2x.jpg');
    }
}
.menu-close-btn {
    width: 40px;
    height: 40px;
}

.menu-nav-list {
        left: 40%;
}

.menu-sm-list {
    left: 32%;
}

}
@media screen and (min-width: 1280px) {
    .header {
        padding-top: 30px;
        padding-bottom: 30px;
        max-width: 9999px;
        position: fixed;
    }
    .header-cont {
        padding-left: 64.5px;
        padding-right: 64.5px;
        padding-top: 0;
        padding-bottom: 0;
        min-width: 1280px;
        max-width: 1280px;
        display: flex;
        flex-direction: row;
        gap: 203px;
        
    }
    .navigation {
        display: flex;
        flex-direction: row;
        gap: 203px;
    }
    .menu-btn {
        width: 40px;
        height: 40px;
        display: none;
    }
    .nav-list {
        display: flex;
    }
    .sm-list-header {
    display: flex;
    }

}