.hero {
    font-family: "Gilroy", sans-serif;
    margin-top: 60px;
    width: 100%;
}


.container {
    min-width: 320px;
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}

.section-txt {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}


.hero-txt {
    margin-bottom: 28px;
    max-width: 335px;
}


.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 20px;
}


.span-title {
    color: #3350e9;
}


.hero-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}


.section-icons {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}


.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 108px;
    height: 44px;
}


.icon {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}


.icon-1 {
    width: 44px;
    height: 44px;
    transform: translate(-73%, 0);
    z-index: 1;
}


.icon-2 {
    width: 44px;
    height: 44px;
    transform: translate(0, 0);
    z-index: 2;
}


.icon-3 {
    width: 44px;
    height: 44px;
    transform: translate(73%, 0);
    z-index: 3;
}


.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hero-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-decoration: underline;
    color: #0c0c0c;
    margin-left: auto;
}


.div-watch {
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
    border-radius: 30px;
    width: 100%;
    height: 366px;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(12, 12, 12, 0.2), rgba(0, 0, 0, 0)), url("../img/Hero/mob-WatchHero-2x.jpg");
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
    .section-txt {
        justify-content: space-between;
    }
    .hero-txt {
        max-width: 557px;
        margin: 0;
    }

    .title {
        font-size: 70px;
        line-height: 0.9;
    }

    .hero-p {
        max-width: 480px;
        font-size: 16px;
    }

    .section-icons {
        flex-direction: column;
        align-items: end;
        width: auto;
    }
    .icon-1 {
        width: 56px;
        height: 56px;
    }
    
    .icon-2 {
        width: 56px;
        height: 56px;
    }
    .icon-3 {
        width: 56px;
        height: 56px;
    }
    .hero-link {
        margin-top: auto;
        font-size: 20px; 
        line-height: 1;
    }
    .div-watch {
        border-radius: 50px;
        width: 704px;
        height: 520px;
        background-image: linear-gradient(rgba(12, 12, 12, 0.2), rgba(0, 0, 0, 0)), url("../img/Hero/tab-WatchHero-2x.jpg");
    }
}


@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 65px;
        margin-top: 106px;
    }
    .hero-txt {
        max-width: 597px;
    }

    .title {
        font-size: 72px;
    }
    .icon-1 {
        width: 60px;
        height: 60px;
    }
    .icon-2 {
        width: 60px;
        height: 60px;
    }
    .icon-3 {
        width: 60px;
        height: 60px;
    }
    .div-watch {
        width: 1150px;
        height: 500px;
        background-image: linear-gradient(rgba(12, 12, 12, 0.2), rgba(0, 0, 0, 0)), url("../img/Hero/WatchHero-1x.jpg");
    }
}

